body,
html {
    padding: 0;
    margin: 0;
    background: #4F4F4F;
    font-family: 'Open Sans', sans-serif;
}

*::before,
*::after,
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#navigation {
    background: #333333;
    height: 60px;
}

#navigation .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;
}

#navigation.reveal-menu .menu-overlay {
    opacity: 1;
    pointer-events: auto;
    z-index: 20;
}

#navigation .menu {
    background-color: #333333;
    height: 100%;
    overflow-y: auto;
    width: 280px;
    max-width: 100%;
    opacity: 0;
    transform: translateX(-280px);
    transition: opacity .2s ease, transform .2s ease;
}

#navigation.reveal-menu .menu {
    opacity: 1;
    transform: translateX(0);
}

#navigation .menu .header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-bottom: solid 1px #484848;
    padding: 0 10px;
}

#navigation .menu .header .close {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a7a7a7;
}

#navigation .menu .header .title {
    flex: 1;
    padding-right: 40px;
    text-align: center;
    color: #a7a7a7;
    font-size: 17px;
}

#navigation .menu .item {
    height: 50px;
    border-bottom: solid 1px #484848;
    padding: 0 15px;
    display: flex;
    align-items: center;
    color: #a7a7a7;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .2s ease;
}

#navigation .menu .item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#navigation .menu .item span {
    flex: 1;
}

#navigation .menu .item i {
    width: 30px;
    text-align: center;
}

#navigation .menu .item.margin-top {
    margin-top: 50px;
    border-top: solid 1px #484848;
}

#navigation .menu .item.color {
    background: linear-gradient(to right, #EB5757, #844ABA);
    color: white;
    border: none;
}

#navigation .inner {
    display: flex;
    align-items: center;
    height: 100%;
}

#navigation .menu-toggle {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #a7a7a7;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .2s ease;
}

#navigation .menu-toggle:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#navigation .logo-holder {
    flex: 1;
    display: flex;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 60px;
}

#navigation .logo-holder img {
    height: 40px;
    max-width: 250px;
}

#navigation .logo-holder .desktop-logo {
    display: none;
}

#navigation .search-box,
#navigation .search-box .search-inner {
    height: 100%;
}

#navigation .search-box input {
    display: none;
}

#navigation .actions {
    height: 100%;
    display: flex;
}

#navigation .actions .desktop-actions {
    display: none;
}

#navigation .search-box .search-button,
#navigation .actions .action {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #a7a7a7;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .2s ease;
}

#navigation .search-box .search-button:hover,
#navigation .actions .action:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#navigation.search .logo-holder {
    display: none;
}

#navigation.search .search-box {
    flex: 1;
    display: flex;
    align-items: center;
}

#navigation.search .search-box .search-inner {
    flex: 1;
    height: 40px;
    display: flex;
    align-items: center;
    background: #C4C4C4;
}

#navigation.search .search-box .search-inner input {
    display: block;
    flex: 1;
    background: none;
    border: none;
    height: 100%;
    padding-left: 15px;
}

#navigation.search .search-box .search-button {
    color: #7c7c7c;
}

.product-wrap {
    flex: 1;
    min-width: 267px;
    max-width: 267px;
    padding: 3px;
}

.product-card {
    background: #333333;
    padding: 4px;
    display: block;
    text-decoration: none;
    transition: background-color .2s ease;
}

.product-card:hover {
    background-color: #2d2d2d;
}

.product-card .image {
    width: 100%;
    height: 160px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.product-card .image .like-button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #C4C4C4;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease;
}

.product-card .image .like-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.product-card .data {
    padding: 8px 5px;
    color: #C4C4C4;
}

.product-card .data .price {
    font-size: 12px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

#scroll-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 45px;
    height: 45px;
    background: #EB5757;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transform: translateY(60px);
    transition: background-color .2s ease, opacity .2s ease, transform .2s cubic-bezier(.43, -0.4, .52, 1.61);
}

#scroll-top.reveal {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

#scroll-top:hover {
    background-color: #844ABA;
}

#error-page {
    min-height: 80vh;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #a7a7a7;
    text-align: center;
}

#error-page i {
    font-size: 60px;
}

#error-page h1 {
    font-weight: 600;
    margin-bottom: 10px;
}

#error-page h2 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
}

#error-page .button {
    height: 40px;
    padding: 0 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    font-size: 18px;
    color: #333333;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: background-color .2s ease, color .2s ease;
}

#error-page .button:hover {
    background-color: #844aba;
    color: white;
}

@media (min-width: 600px) {
    #navigation {
        height: 100px;
        padding: 0 10px;
        display: flex;
        flex-direction: column-reverse;
    }
    #navigation.slim {
        height: 60px;
    }
    #navigation .menu-overlay {
        position: relative;
        height: 40px;
        top: auto;
        left: auto;
        flex: 1;
        opacity: 1;
        pointer-events: auto;
    }
    #navigation.slim .menu-overlay {
        display: none;
    }
    #navigation .menu-overlay .menu {
        width: 100%;
        height: 100%;
        opacity: 1;
        transform: translateX(0);
    }
    #navigation .menu-overlay .menu .header,
    #navigation .menu-overlay .menu .mobile,
    #navigation .menu-overlay .menu .item:not(.desktop) {
        display: none;
    }
    #navigation .menu-overlay .menu .categories {
        display: flex;
        justify-content: center;
        height: 100%;
    }
    #navigation .menu-overlay .menu .categories .item {
        border: none;
        height: 100%;
    }
    #navigation .menu-overlay .menu .categories .item i {
        display: none;
    }
    #navigation .menu-toggle,
    #navigation .mobile-logo {
        display: none;
    }
    #navigation .logo-holder {
        justify-content: flex-start;
        padding-left: 0;
    }
    #navigation .logo-holder .desktop-logo {
        display: block;
    }
    #navigation .actions {
        justify-content: flex-end;
    }
    #navigation.search .actions,
    #navigation.search .logo-holder {
        flex: 0;
    }
    #navigation.search .logo-holder {
        display: block !important;
    }
    #navigation .actions .desktop-actions {
        display: flex;
    }
    #navigation.search .search-box {
        padding: 0 15px;
    }
}

@media (min-width: 900px) {
    #navigation .logo-holder {
        display: block !important;
    }
    #navigation .actions,
    #navigation .logo-holder {
        flex: 1 !important;
    }
    #navigation .search-box {
        display: flex;
        width: 100%;
        max-width: 500px;
        padding: 0 10px;
        align-items: center;
    }
    #navigation .search-box .search-inner {
        background: #C4C4C4;
        display: flex;
        align-items: center;
        height: 36px;
        flex: 1;
    }
    #navigation .search-box .search-inner input {
        display: block;
        height: 100%;
        flex: 1;
        background: none;
        border: none;
        padding: 0 15px;
    }
    #navigation .search-box .search-inner input:focus {
        outline: none;
    }
    #navigation .search-box .search-inner .search-button {
        padding: 0 15px;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #7c7c7c;
        transition: background-color .2s ease;
    }
    #navigation .search-box .search-inner .search-button:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }
}