#mainpage .row {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: flex-start;
}

#sidebar {
    display: none;
}

#content {
    flex: 1;
}

#content #welcome-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/header-image.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    color: white;
    padding: 35px 15px;
    text-align: center;
}

#content #welcome-box h1 {
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 35px;
}

#content #welcome-box h2 {
    font-size: 17px;
    margin-bottom: 25px;
    margin-top: 0;
}

#content #welcome-box .search-box {
    width: 100%;
    max-width: 500px;
}

#content #welcome-box .search-box .search-inner {
    height: 40px;
    display: flex;
    align-items: center;
    background: white;
}

#content #welcome-box .search-box .search-inner input {
    height: 100%;
    flex: 1;
    background: none;
    border: none;
    padding-left: 15px;
}

#content #welcome-box .search-box .search-inner .search-button {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7c7c7c;
}

#content .products {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    justify-content: center;
}

#content .promoted-product-wrap {
    flex: 1;
    min-width: 100%;
    padding: 5px;
}

#content .product-wrap {
    min-width: 100%;
    padding: 5px;
    flex: 0;
}

#content .promoted-product-wrap .product-card {
    position: relative;
}

#content .promoted-product-wrap .product-card .image {
    height: 220px;
}

#content .promoted-product-wrap .product-card .data .title .like-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #C4C4C4;
    border-radius: 50%;
    height: 47px;
    width: 47px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease;
}

#content .promoted-product-wrap .product-card .data .title .like-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#content .promoted-product-wrap .product-card .data .title .like-button.active {
    color: #EB5757;
}

#content .promoted-product-wrap .product-card .data .title {
    font-size: 25px;
    display: flex;
    margin-bottom: 6px;
}

#content .promoted-product-wrap .product-card .data .price {
    font-size: 20px;
}

#content .promoted-product-wrap .product-card .data .description {
    margin-top: 20px;
    font-size: 15px;
}

#content .no-results {
    min-height: 350px;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #a7a7a7;
    text-align: center;
    width: 100%;
}

#content .no-results i {
    font-size: 60px;
}

#content .no-results h1 {
    font-weight: 600;
    margin-bottom: 10px;
}

#content .no-results h2 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
}

#content .no-results .button {
    height: 40px;
    padding: 0 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    font-size: 18px;
    color: #333333;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: background-color .2s ease, color .2s ease;
}

#content .no-results .button:hover {
    background-color: #844aba;
    color: white;
}

@media (min-width: 450px) {
    #content .product-wrap {
        min-width: 50%;
        max-width: 50%;
        padding: 5px;
        flex: 0;
    }
}

@media (min-width: 800px) {
    #sidebar {
        display: block;
        flex: 1;
        max-width: 300px;
        background: #333333;
    }
    #sidebar .item {
        height: 50px;
        border-bottom: solid 1px #484848;
        padding: 0 15px;
        display: flex;
        align-items: center;
        color: #a7a7a7;
        font-size: 14px;
        text-decoration: none;
        cursor: pointer;
        transition: background-color .2s ease;
    }
    #sidebar .item:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    #sidebar .item.child {
        padding-left: 35px;
        height: 40px;
    }

    #sidebar .item span {
        flex: 1;
    }
    #sidebar .item i {
        width: 30px;
        text-align: center;
    }

    #sidebar .item.selected i {
        transform: rotateZ(90deg);
    }

    #sidebar .item.margin-top {
        margin-top: 50px;
        border-top: solid 1px #484848;
    }
    #sidebar .item.color {
        background: linear-gradient(to right, #EB5757, #844ABA);
        color: white;
        border: none;
    }

    #content {
        padding-left: 10px;
    }

    #content .products {
        justify-content: flex-start;
    }
}

@media (min-width: 1200px) {
    #content .promoted-product-wrap .product-card {
        display: flex;
    }
    #content .promoted-product-wrap .product-card .image {
        max-width: 600px;
        height: 500px;
    }
    #content .promoted-product-wrap .product-card .data {
        flex: 1;
        padding: 15px 20px;
    }
    #content .promoted-product-wrap .product-card .data .title span {
        flex: 1;
    }

    #content .products {
        justify-content: center;
    }

    #content .product-wrap {
        min-width: 33%;
        max-width: 33%;
        padding: 5px;
    }
}

@media (min-width: 1400px) {

    #content .products {
        justify-content: flex-start;
    }

    #content .product-wrap {
        min-width: 25%;
        max-width: 25%;
        padding: 5px;
        flex: 0;
    }
}