#product {
    padding: 10px;
}

#product .product-view {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    position: relative;
}

#product .product-view .image {
    margin: 14px;
    display: flex;
    justify-content: center;
}

#product .product-view .image img {
    max-width: 100%;
    min-width: 100%;
}

#product .product-view .data {
    margin: 20px;
    color: #C4C4C4;
    text-align: left;
}

#product .product-view .data .actions {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #C4C4C4;
    font-size: 25px;
    display: flex;
    margin: 0 -4px;
}

#product .product-view .data .actions .button {
    border-radius: 50%;
    height: 47px;
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    text-decoration: none;
    color: inherit;
    transition: background-color .2s ease;
}

#product .product-view .data .actions .button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#product .product-view .data .actions .button.active {
    color: #EB5757;
}

#product .product-view .title {
    font-size: 20px;
    margin: 0 0 28px 0;
    font-weight: 600;
}

#product .product-view .price,
#product .product-view .description {
    margin: 0 0 14px 0;
}

#product .product-view .cart-button {
    height: 40px;
    padding: 0 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    font-size: 18px;
    color: #333333;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: background-color .2s ease, color .2s ease;
}

#product .product-view .cart-button i {
    margin-right: 5px;
}

#product .product-view .cart-button:hover {
    background-color: #844aba;
    color: white;
}

.more-products {
    display: flex;
    flex-wrap: wrap;
    margin: 5px -3px;
}

.more-products h2 {
    width: 100%;
    padding: 0 6px;
    margin: 20px 0 10px 0;
    color: #C4C4C4;
    font-size: 20px;
    font-weight: 600;
}

#product .product-wrap {
    min-width: 100%;
    padding: 5px;
    flex: 0;
}

@media (min-width: 450px) {
    #product .product-wrap {
        min-width: 50%;
        max-width: 50%;
        padding: 5px;
        flex: 0;
    }
}

@media (min-width: 700px) {
    #product .product-view {
        flex-direction: row;
        align-items: flex-start;
    }
    #product .product-view .image {
        min-width: 400px;
        max-width: 550px;
        flex: 1;
    }
    #product .product-view .image img {
        width: 100%;
    }
    #product .product-view .data {
        flex: 1;
        min-width: 250px;
    }
}

@media (min-width: 800px) {
    #product .more-products {
        justify-content: center;
    }

    #product .product-wrap {
        min-width: 33%;
        max-width: 33%;
        padding: 5px;
    }
}

@media (min-width: 1100px) {
    #product .more-products {
        justify-content: flex-start;
    }

    #product .product-wrap {
        min-width: 25%;
        max-width: 25%;
        padding: 5px;
    }
}